body,
nav,
.nav-link,
.navbar-brand,
nav i {
    transition: 1s !important;
}

body.mode {
    background-color: #121212;
    color: white;
}

nav.mode {
    background-color: #1e1e1e !important;
}

nav.mode .navbar-nav li:not(:last-child, :first-child) .nav-link {
    color: rgba(255, 255, 255, 0.5) !important;
}

nav.mode .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 0.85) !important;
}

nav.mode .navbar-brand {
    color: white !important;
}

nav.mode .toggler-icon {
    color: white !important;
}

nav.mode .navbar-nav li:not(:last-child, :first-child) .nav-link:hover {
    color: rgba(255, 255, 255, 0.85) !important;
}